.dialogs{
    padding: 20px;
}

.messages__title{
    margin-bottom: 20px;
}

.messages__wrapper{
    display: flex;
}

.messages__dialogs{
    border-right: 1px solid rgb(0, 0, 0);
    padding-right: 40px;
    
}



.messages__content{
    padding-left: 20px;
}
